
<!-- <h1>{{title.str}}</h1> -->

<!-- <li  ng-repeat-start="friend in friends track by friend.id" > -->
<div class="row clearfix" ng-repeat-start="friend in friends track by friend.id">
  <div class="col-md-12 column">
    
 
    <h4><a href='{{friend.url}}'> {{friend.title}} </a></h4>
    <p> {{friend.topComment}}</p>


<!-- <p> ObjectId:{{friend.id}} Directive: {{$index}}</p> -->


    <div class="btn-group">
	       <label ng-click="clickScore(friend.id)"  class="btn btn-primary">   score: {{friend.score}} </label> 
         <label ng-click="clickPop(friend.id)" class="btn btn-primary" >pop: {{friend.numComments}}</label>
	       <label class="btn btn-primary" >{{friend.pub}} </label>
	       <!-- <label ng-click="clickType(friend.id);scrollTo(friend.id);"class="btn btn-primary" >{{friend.tag}}</label> -->
         <label class="btn btn-primary" >{{friend.tag}}</label>

    </div>

 
      
    </div>
  </div>
  <div ng-repeat-end> </div>



<!--
    <div class="col-md-10">
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/phones/{{phone.id}}" class="thumb">
    
          </a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <a href ng-model="query.age" ng-click="sortPopular(phone.id)"  class="label label-average" ng-class="{test: checkValue1(), test2:checkValue3(5)}" >{{phone.id}}</a>
          <a href ng-click="sortPub(phone.name)"  class="label label-publication">{{phone.name}}</a>
           <a href ng-click="noHrefTest('name')"  class="label label-average" >Entertainment</a>
        </li>
      </ul>
    </div>
    -->


<!--

    <div  ng-repeat-start="friend in friends track by friend.id" >
<h2>Directive: {{$index}}</h2>
<span> name:{{ friend.name}}</span>
<span>objectId:{{friend.id}}</span>


<ul class="phones">
<li><a id='{{$index}}' href ng-click="clickAge(friend.id);scrollTo(friend.id);">   age: {{friend.age}} </a> </li>
 <li><a href ng-click="clickPub(friend.id);scrollTo(friend.id);">pub: {{friend.pub}} </a> </li>
<li><a href ng-click="clickPop(friend.id);scrollTo(friend.id);"> pop:{{friend.pop}}</a></li>
<li><a href ng-click="clickType(friend.id);scrollTo(friend.id);">type:{{friend.type}} </a></li>

</ul>
</div >

<div ng-repeat-end> </div>

-->