<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
<!--
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="carrier">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      <span> String: {{query}}</span>

-->


    </div>




<!--
      <ul class="phones">
          
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/phones/{{phone.id}}" class="thumb">
            
          </a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <a href ng-model="query.age" ng-click="sortPopular(phone.id)"  class="label label-average" ng-class="{test: checkValue1(), test2:checkValue3(5)}" >{{phone.id}}</a>
          <a href ng-click="sortPub(phone.name)"  class="label label-publication">{{phone.name}}</a>
           <a href ng-click="noHrefTest('name')"  class="label label-average" >Entertainment</a>
        </li>
      </ul>
-->
 <div class="col-md-10">
    <ul class="phones">

      <div data>
        <div contact-card>  </div> 
      </div>

  </ul>
</div>

<div>Angular seed app noon: v<span app-version></span></div>



  </div>
</div>
